

<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/margin.css">
    <link rel="stylesheet" href="css/table.css">

    <title>QNA</title>

<style>

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
  thead tr {
    background-color: #77AAAD;
    color: #ffffff;
  }
  tbody tr:nth-child(2n) {
    background-color: #D8E6E7;
  }
  tbody tr:nth-child(2n+1) {
    background-color: #EDECF0;
  }

</style>
</head>
<body>

    <div class="qnaPage">
     
      <h2>문의하기</h2>
      <hr>
        <div class="qnaPageTable">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>문의합니다</td>
            <td>유승제</td>
            <td>sysdate</td>
        </tr>

        <tr>
            <td>2</td>
            <td>다시 문의합니다</td>
            <td>유승제</td>
            <td>sysdate</td>
        </tr>

    </tbody>
    </table>

    <div class=Pagenation>

        <ul id="pagenation" align="center" style="margin-left:-90px;">
          <li><button class="listbtn" value="-1">&lt;</button></li>
          <li><button class="listbtn" value="1">1</button></li>
          <li><button class="listbtn" value="2">2</button></li>
          <li><button class="listbtn" value="3">3</button></li>
          <li><button class="listbtn" value="+1">&gt;</button></li>
      </ul>
  
</div>
</div>

</body>
</html>